<div class="row">
	<div class="span12">
		<%if notice%><p class="notice"><%= notice %></p><%end%>
		<%if alert%><p class="alert"><%= alert %></p><%end%>

		<p>
			<%= form_tag("/confirm", method: "get") do %>
				<table>
					<tr>
						<td><%= label_tag(:name, "Name of Recipient:") %></td>
						<td><%= text_field_tag(:name, @name) %></td>
					</tr>
					<tr>
						<td><%= label_tag(:street1, "Street Address:") %></td>
						<td><%= text_field_tag(:street1, @street1) %></td>
					</tr><tr>
						<td><%= label_tag(:street2, "Line 2:") %></td>
						<td><%= text_field_tag(:street2, @street2) %></td>
					</tr><tr>
						<td><%= label_tag(:city, "City:") %></td>
						<td><%= text_field_tag(:city, @city) %></td>
					</tr><tr>
						<td><%= label_tag(:state, "State:") %></td>
						<td><%= text_field_tag(:state, @state) %></td>
					</tr>
					<tr>
						<td><%= label_tag(:zip, "ZIP Code:") %></td>
						<% unless @zip == 0 %>
							<td><%= text_field_tag(:zip, @zip) %></td>
						<% else %>
							<td><%= text_field_tag(:zip) %></td>
						<% end %>
					</tr>

					<tr>
						<td><%= label_tag(:message, "Message:") %></td>
						<td><%= text_field_tag(:message, @message) %></td>
					</tr><tr>
						<td></td><td><%= submit_tag "Continue", :class => "btn btn-success", :style =>"margin-left: 65px" %></td>
					</tr>
				</table>

			<% end %>

		</p>

	</div>
</div>
