<div class="row">
	<div class="span12">
		<%if notice%><p class="notice"><%= notice %></p><%end%>
		<%if alert%><p class="alert"><%= alert %></p><%end%>

		<p>

		<% if signed_in? %>
			<%= form_tag("/address", method: "get") do %>
				<table>
					<tr>
						<% unless @premium == 'false' %>
							<td><label>
								<%= radio_button_tag(:premium, false) %>Regular
							</label></td>
							<td><label><%= radio_button_tag(:premium, true, checked = true) %>Premium
							</label></td>
						<% else %>
							<td><label><%= radio_button_tag(:premium, false, checked = true) %>Regular
							</label></td>
							<td><label><%= radio_button_tag(:premium, true) %>Premium
							</label></td>
						<% end %>
					</tr>
					<tr>
						<% unless @gift == 'false' %>
							<td><label>
								<%= radio_button_tag(:gift, false) %>For myself
							</label></td>
							<td><label>
								<%= radio_button_tag(:gift, true, checked = true) %>This is a gift
							</label></td>
						<% else %>
							<td><label>
								<%= radio_button_tag(:gift, false, checked = true) %>For myself
							</label></td>
							<td><label>
								<%= radio_button_tag(:gift, true) %>This is a gift
							</label></td>
						<% end %>
					</tr>
					<tr>
						<td></td><td><%= submit_tag "Continue", :class => "btn btn-success", :style =>"margin-left: 65px" %></td>
					</tr>
				</table>

			<% end %>


		<% else %>

			<p>Please <%= link_to "Sign In", new_user_session_path %> to continue!</p>

		<% end %>
		</p>

	</div>
</div>
