
<div class="row">
	<div class="span8">
		<p>
			Experience the miracle of nature<br>
			Grow seeds without knowing what they'll become
		</p>

	</div>
	<div class="span4" style='display:none'>
		<% if signed_in? %>
			<p>
				Click here to<br>
				<%= link_to 'Buy Seeds', buy_path, class: "btn btn-success" %>
			</p>
		<% else %>
			<p>
				Click here to<br>
				<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success" %>
			</p>
		<% end %>
	</div>
	<div class="span4">
		<p>
			Click here to<br>
			<%= link_to "Pre-order", "mailto:seedsofpandora@gmail.com", class: "btn btn-success" %>
		</p>
	</div>
</div>
<div class="row">
	<div class="span4" style="height:151px; padding-top:20px;">
		<p>Learn how it works <%= link_to "here", howto_path %>!</p>
	</div>
	<div class="span8" style="text-align:center;">
		<%= image_tag 'seedgrowth.png' %>
	</div>
</div>

