<div class="row">
	<div class="span8" style="text-align:center;">
		<p>
			3 easy steps:<br>
			Order, plant, marvel!
		</p>
	</div>
	<div class="span4" style="text-align:center;">
		<% if @id == nil %>
			<p>
				Get started<br>
				<%=link_to 'now', buy_path %>
			</p>
		<% else %>
			<p>
				Back to<br>
				<%= link_to 'my order', "/order/#{@id}" %>
			</p>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="span12" style="text-align:center;">
		<%= image_tag 'closed-nos.png', class: 'steps step1' %>
		<%= image_tag 'arrow1.png', class: 'steps steps-arw' %>
		<%= image_tag 'supplies.png', class: 'steps step2' %>
		<%= image_tag 'arrow2.png', class: 'steps steps-arw' %>
		<%= image_tag 'questionpot.png', class: 'steps step3' %>
	</div>
</div>
