<div class="row">
	<div class="span12" style="text-align:center;">
		<%= image_tag 'closed-nos.png', class: 'steps step1' %>
		<%= image_tag 'arrow1.png', class: 'steps steps-arw' %>
		<%= image_tag 'supplies.png', class: 'steps step2' %>
		<%= image_tag 'arrow2.png', class: 'steps steps-arw' %>
		<%= image_tag 'questionpot.png', class: 'steps step3' %>
	</div>
</div>
